<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.team.vo.Comments" alias="Comments" />
		<typeAlias type="com.team.vo.Feedback" alias="Feedback" />
		<typeAlias type="com.team.vo.File" alias="File" />
		<typeAlias type="com.team.vo.Log" alias="Log" />
		<typeAlias type="com.team.vo.Member" alias="Member" />
		<typeAlias type="com.team.vo.Project" alias="Project" />
		<typeAlias type="com.team.vo.ProjectMember" alias="ProjectMember" />
		<typeAlias type="com.team.vo.Task" alias="Task" />
		<typeAlias type="com.team.vo.TaskList" alias="TaskList" />
		<typeAlias type="com.team.vo.TaskMember" alias="TaskMember" />
		<typeAlias type="com.team.vo.Template" alias="Template" />
		<typeAlias type="com.team.vo.Workspace" alias="Workspace" />
		<typeAlias type="com.team.vo.WorkspaceMember" alias="WorkspaceMember" />
		<typeAlias type="com.team.vo.FeedbackReceiver" alias="FeedbackReceiver"/>
		<typeAlias type="com.team.vo.Comments" alias="Comments"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/team/mapper/ProjectMapper.xml" />
		<mapper resource="com/team/mapper/WorkspaceMapper.xml" />
		<mapper resource="com/team/mapper/MemberMapper.xml" />
	</mappers>
	
</configuration>





