.post{ padding:35px; margin-bottom:0px !important; border-bottom: 1.7px solid #dedbdb;}
.post:last-of-type{padding-bottom:30px !important;}
.f_link {
	padding: 22px;
	color: #464c59;
	font-weight: bold;
}
.link-black:focus, .link-black:hover { color: #6c757d !important; }
#active { border-bottom: 3px solid #17a2b8; color:#17a2b8; }
.feedback-contents {margin: 30px 0px 30px 0px;}
.comments { display:none; }
.float_left { float: left; margin-right:10px; }
h6 { font-weight:bold !important; }
.mem {
	border: 1px #dedede;
    background-color: #dedede;
    border-radius: 30rem;
    width: 115px; height: 32px;
    text-align: center;
    margin-top: 2px;
}
.mem a {color:black;}
.mem_img {
	width: 30%; height:32px;
	border-radius: 30rem;
	border: 1px solid;
}
.mem_name {width: 50%;}
.mem_rm {width: 20%;}
.mem *, ._mem *, .t * {display:inline-block;float:left;}
._mem { height:50px;border:1px solid white;border-radius:.20rem;padding:5px; margin-bottom: 15px; }
._mem_name {width:60%;}
._mem_icon {width:20%; display:block;}
._mem_icon > i {padding-left:30px;}
._mem_img {width:43px;margin-right:10px;}
._mem_icon_default {display:none;}
.task {padding:10px;padding-bottom:20px;}
.t_t {font-weight:bold;}
.t {font-size:10pt}

.content-header {margin:25px 50px 25px 50px;}
.display-none {display:none;}
.display-block {display:block;}

.user-block .description {margin-top: -15px;}
.username a {color:#1e759e}
.user-count-img {
	width:40px;height:40px;
	position:relative;z-index:1;
	margin-left:-10px;margin-right:10px;
    font-weight: bold;
    background-color: #cecbcb;
    float:left;
}

.img-bordered-sm {
    border: 2px solid #cecbcb !important;
}
.hover-user-block {
	background-color: #0a416b;
	margin-left:30px; margin-top:10px;
    width: auto; max-width:200px;
    padding: 10px;
    border-radius: .20rem;
    color: white;
    text-align:center;
}
.btn.btn-flat{padding-top:4;border-radius: .10rem !important;}
a {cursor:pointer;}