#task-close-btn {
	width: 30px;
	height: 52px;
	position: absolute;
	right: -640px;
	background-color: white;
	z-index: 5;
	border-radius: 4px 0px 0px 4px;
}

#task-close-btn.open {
	right: 598px;
}

#task-properties {
	width: 600px;
	height: 100%;
	top: 15.2%;
	position: fixed;
	right: -602px;
	z-index: 10;
	background-color: white;
	text-align: center;
	transition: All 0.4s ease;
	-webkit-transition: All 0.4s ease;
	-moz-transition: All 0.4s ease;
	-o-transition: All 0.4s ease;
	box-shadow: -1px 6px 10px 0 rgba(0,0,0,.2);
}

#task-properties.open {
	right: 0px;
}

