<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.mapper.FeedbackMapper">

	<insert id="insertFeedback" parameterType="Feedback">
	INSERT INTO feedback(content, sender, workspace_no, is_public)
	VALUES (#{content}, #{sender}, #{workspaceNo}, #{isPublic})
		<selectKey keyProperty="feedbackNo" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>

	<insert id="insertReceivers" parameterType="java.util.List">
	INSERT INTO receiver VALUES
		<foreach collection="list" item="receiver" index="index">
			(#{receiver.feedbackNo}, #{receiver.email})
			<if test="index != list.size - 1"> , </if>
		</foreach>
	</insert>
	
	<insert id="insertComment" parameterType="Comments">
	INSERT INTO comments(feedback_no, content, writer) 
	VALUES (#{feedbackNo}, #{content}, #{writer})
	</insert>
	
	<select id="selectFeedback" parameterType="hashmap" resultMap="feedbackMap">
	SELECT 	* FROM feedback f
	INNER JOIN receiver r ON f.feedback_no = r.feedback_no
	WHERE 
		<choose>
			<when test="searchType == 'M'.toString()">
				(sender = #{email} OR email = #{email})
			</when>
			<when test="searchType == 'S'.toString()">
				sender = #{email}
			</when>
			<when test="searchType == 'R'.toString()">
				email = #{email}
			</when>
			<when test="searchType == 'A'.toString()">
				is_public = '1'
			</when>
		</choose>
	AND deleted = '0' AND workspace_no = #{workspaceNo}
	ORDER BY f.feedback_no DESC
	</select>
	
	<select id="selectComments" parameterType="int" resultMap="commentMap">
	SELECT * FROM comments WHERE feedback_no = #{feedback_no}
	</select>

	
	<update id="deleteFeedback" parameterType="int">
	UPDATE feedback SET deleted = '1'
	WHERE feedback_no = #{feedbackNo}
	</update>
	

	<resultMap type="Feedback" id="feedbackMap">
		<id column="feedback_no" property="feedbackNo"/>
		<result column="content" property="content"/>
		<result column="writedate" property="writedate"/>
		<result column="sender" property="sender"/>
		<result column="workspace_no" property="workspaceNo"/>
		<result column="is_read" property="isRead"/>
		<result column="is_public" property="isPublic"/>
		<result column="deleted" property="deleted"/>
		<result column="task_no" property="taskNo"/>
		<collection property="receivers" column="feedback_no" resultMap="receiverMap" />
	</resultMap>
	
	<resultMap type="Receiver" id="receiverMap">
		<result column="feedback_no" property="feedbackNo"/>
		<result column="email" property="email"/>
	</resultMap>
	
	<resultMap type="Comments" id="commentMap">
		<id column="comment_no" property="commentNo"/>
		<result column="feedback_no" property="feedbackNo"/>
		<result column="writer" property="writer"/>
		<result column="content" property="content"/>
		<result column="writedate" property="writedate"/>
	</resultMap>
</mapper>























