<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.mapper.LogMapper">

	<insert id="insertLog" parameterType="Log">
	INSERT INTO log(email, writedate, task_no, state, project_no)
	VALUES(#{email}, #{writedate}, #{taskNo}, #{state}, #{projectNo})
	<selectKey keyProperty="logNo" order="AFTER" resultType="int">
		SELECT LAST_INSERT_ID();
	</selectKey>
	</insert>
	
	<insert id="insertLogReceiver" parameterType="java.util.List">
	INSERT INTO log_receiver(log_no, receiver)
	VALUES
	<foreach collection="list" item="LogReceiver" index="index" separator=",">
		(#{logNo}, #{receiver})
	</foreach>
	</insert>
	
	<select id="selectLogByProjectNo" parameterType="hashmap" resultMap="logMap">
	SELECT * FROM log l
	INNER JOIN log_receiver r ON l.log_no = r.log_no 
	WHERE 
		<trim suffix="AND">
		<choose>
			<when test="searchType == 'A'.toString()">
			</when>
			<when test="searchType == 'C'.toString()">
			checked = 0
			</when>
			<when test="searchType == 'K'.toString()">
			(
			email LIKE CONCAT('%',#{key},'%') OR 
			state LIKE CONCAT('%',#{key},'%') 
			)
			</when>
		</choose>
		</trim>
	receiver = #{email} AND
	project_no = #{projectNo} AND deleted = 0
	ORDER BY l.log_no DESC
	</select>
	
	<update id="updateCheckedByReceiver" parameterType="hashmap">
	UPDATE log_receiver SET checked = 1
	WHERE log_no = #{logNo} AND receiver = #{receiver}
	</update>
	
	<update id="deleteLogByReceiver">
	UPDATE log_receiver SET deleted = 1
	WHERE log_no = #{logNo} AND receiver = #{receiver}
	</update>
	
	
	
	
	
	
	

	<resultMap type="Log" id="logMap">
		<id column="log_no" property="logNo"/>
		<result column="email" property="email"/>
		<result column="writedate" property="writedate"/>
		<result column="task_no" property="taskNo"/>
		<result column="state" property="state"/>
		<result column="project_no" property="projectNo" />
		<collection property="receiver" column="log_no" resultMap="logReceiverMap" />
	</resultMap>
	
	<resultMap type="LogReceiver" id="logReceiverMap">
		<result column="log_no" property="logNo"/>
		<result column="receiver" property="receiver"/>
		<result column="checked" property="checked"/>
		<result column="deleted" property="deleted"/>
	</resultMap>

</mapper>























