<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.mapper.MemberMapper">

	<insert id="insertMember" parameterType="Member">
		INSERT INTO member (name, email, password, phone, department, position, address_no, roadname_addr, detail_addr, img )
		VALUES ( #{ name }, #{ email }, #{ password }, #{ phone }, #{ department }, #{ position }, #{ addressNo }, #{ roadnameAddr }, #{ detailAddr }, #{ img } )
	</insert>
	
	<select id="selectMemberByEmailAndPassword" parameterType="Member" resultMap="memberMap">
		SELECT * FROM member WHERE email = #{ email } AND password = #{ password } AND deleted = '0'
	</select>
	
	<select id="selectMemberByEmail" parameterType="Member" resultMap="memberMap">
		SELECT * FROM member WHERE email = #{ email }
	</select>
	
	<update id="updatePassword" parameterType="Member">
		UPDATE member SET password = #{ password }
		WHERE email = #{ email }
	</update>
	
	<update id="updateImg" parameterType="Member">
		UPDATE member SET img = #{ img }
		WHERE email = #{ email }
	</update>
	
	<update id="updateMember" parameterType="Member">
		UPDATE member SET
		name = #{ name }, phone = #{ phone }, department = #{ department }, position = #{ position },
		roadname_addr = #{ roadnameAddr }, detail_addr = #{ detailAddr }
		WHERE email = #{ email }
	</update>
	
	<update id="deleteMember" parameterType="String">
		UPDATE member SET deleted = 1
		WHERE email = #{ email }
	</update>
	
	
	<resultMap type="Member" id="memberMap">
		<id column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="regdate" property="regdate"/>
		<result column="name" property="name"/>
		<result column="phone" property="phone"/>
		<result column="department" property="department"/>
		<result column="position" property="position" />
		<result column="deleted" property="deleted"/>
		<result column="address_no" property="addressNo"/>
		<result column="roadname_addr" property="roadnameAddr"/>
		<result column="detail_addr" property="detailAddr"/>
		<result column="img" property="img"/>
	</resultMap>

</mapper>