<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.mapper.ProjectMapper">

	<insert id="insertProject">
		INSERT INTO project ( project_name, content, manager_email, is_public, template_no, workspace_no)
		VALUES ( #{projectName}, #{content}, "1@1", #{public}, #{templateNo}, "6" )
	</insert>
	
	<resultMap type="project" id="projectMap">
		<id column="project_no" property="projectNo" />
		<result column="workspace_no" property="workspaceNo" />
		<result column="project_name" property="projectName" />
		<result column="regdate" property="regdate" />
		<result column="content" property="content" />
		<result column="manager_email" property="managerEmail" />
		<result column="deleted" property="deleted" />
		<result column="public" property="isPublic" />
		<result column="template_no" property="templateNo" />
		<result column="pro_no" property="proNo" />
	</resultMap>	
	
	<select id="selectProject" resultMap="projectMap">
		SELECT * FROM project ORDER BY project_no DESC
	</select>
	
	<select id="selectProject2" resultMap="projectMap">
		<![CDATA[ SELECT * FROM project ORDER BY project_no DESC LIMIT 4 ]]>
	</select>
	
	<select id="selectProjectByWorkspaceNo" parameterType="int" resultMap="projectMap">
		SELECT * FROM project
		WHERE workspace_no = #{ workspaceNo } 
	</select>
	
	<update id="updateProjectNo" parameterType="hashmap">
		UPDATE project SET pro_no=#{ proNo } WHERE project_no = #{ projectNo }
	</update>


<!-- 	<resultMap type="project" id="projectMap">
		<id column="project_no" property="projectNo" />
		<result column="workspace_no" property="workspaceNo" />
		<result column="project_name" property="projectName" />
		<result column="regdate" property="regdate" />
		<result column="content" property="content" />
		<result column="manager_email" property="managerEmail" />
		<result column="deleted" property="deleted" />
		<result column="public" property="isPublic" />
		<result column="template_no" property="templateNo" />
	</resultMap> -->
	
</mapper>























