<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.mapper.ProjectMapper">

	<insert id="insertProject">
		INSERT INTO project ( project_name, manager_email, is_public, template_no, workspace_no)
		VALUES ( #{projectName}, #{managerEmail}, #{public}, #{template}, 6 );
<!-- 6 : 워크스페이스 번호

template 쓸려면 templateVO에 있는 
int templateNo;
String templateName;
목록을 조회해서

controller에서 

템플릭 목록 (리스트 가져오기)
controller에서 보낼때 템플릿 이름과 프로젝트 정보들을 보냄
템플릿 이름과 템플릿 목록을 비교해서 이름 똑같은 번호를 
	for(템플릿VO 변수이름 : 템플릿 목록)
		if(변수이름 getTemplatName.equals(가져온 템플릿 이름))
			프로젝트 변수 (setTemplsetNo(번호))

 -->
	</insert>


<!-- 	<resultMap type="project" id="projectMap">
		<id column="project_no" property="projectNo" />
		<result column="workspace_no" property="workspaceNo" />
		<result column="project_name" property="projectName" />
		<result column="regdate" property="regdate" />
		<result column="content" property="content" />
		<result column="manager_email" property="managerEmail" />
		<result column="deleted" property="deleted" />
		<result column="public" property="isPublic" />
		<result column="template_no" property="templateNo" />
	</resultMap> -->
	
</mapper>























