<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mapper.WorkspaceMapper">
	
	<insert id="insertWorkspace" parameterType="com.team.vo.Workspace"
			useGeneratedKeys="true" keyColumn="workspaceNo" keyProperty="workspaceNo">			
		INSERT INTO workspace (
			workspace_name, 
			deleted, code
		)
		VALUES (
			#{ workspaceName }, 
			#{ deleted }, #{ code }
		)
	</insert>	
		
	<select id="selectWorkspaceMembers" parameterType="int" resultMap="workspaceMemberMap">
		SELECT * FROM workspace_member
		WHERE workspace_no = #{ workspaceNo } 
		AND ( type_no = 1 OR type_no = 2 );
	</select>
	
	<resultMap type="WorkspaceMember" id="workspaceMemberMap">
		<id column="workspace_no" property="workspaceNo" />
		<result column="email" property="email" />
		<result column="type_no" property="typeNo" />
	</resultMap> 
	
	<select id="selectWorkspaceByWorkspaceNo" parameterType="int" resultMap="workspaceMap">
		SELECT * FROM workspace
		WHERE workspace_no = #{ workspaceNo } 
	</select>
	
	<resultMap type="workspace" id="workspaceMap">
		<id column="workspace_no" property="workspaceNo" />
		<result column="workspace_name" property="workspaceName" />
		<result column="deleted" property="deleted" />
		<result column="code" property="code" />		
	</resultMap> 	
	
	<update id="updateWorkspaceName" parameterType="com.team.vo.Workspace">
		UPDATE workspace
		SET workspace_name = #{ workspaceName } 
		WHERE workspace_no = #{ workspaceNo } 
	</update>
	
	<update id="deleteWorkspace" parameterType="com.team.vo.Workspace">
		UPDATE workspace
		SET deleted = '1'
		WHERE workspace_no = #{ workspaceNo } 
	</update>
	
	
</mapper>