<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mapper.WorkspaceMapper">
	
	<insert id="insertWorkspace" parameterType="com.team.vo.Workspace"
			useGeneratedKeys="true" keyColumn="workspaceNo" keyProperty="workspaceNo">			
		INSERT INTO workspace (
			deleted,workspace_name
		)
		VALUES (
			0,0
		)
	</insert>			
		
	<update id="updateWorkspace" parameterType="com.team.vo.Workspace">
		UPDATE workspace
		SET workspace_name = #{ workspaceName } and code = #{ code }
		WHERE workspace_no = #{ workspaceNo } and workspace_name = 0
	</update>
	
	<insert id="insertWorkspaceMember" parameterType="com.team.vo.WorkspaceMember">			
		INSERT INTO workspace_member (
			workspace_no, 
			email, type_no
		)
		VALUES (
			#{ workspaceNo }, 
			#{ email }, 1
		)
	</insert>	
		
	<select id="selectWorkspaceMembers" parameterType="int" resultMap="workspaceMemberMap">
		SELECT * FROM workspace_member
		WHERE workspace_no = #{ workspaceNo } 
		AND ( type_no = 1 OR type_no = 2 );
	</select>
	
	<select id="selectMembersByWorkspaceNo" parameterType="int" resultMap="memberMap">
		SELECT * FROM workspace_member wm
		INNER JOIN member m
		ON wm.email = m.email		
		INNER JOIN workspace w
		ON wm.workspace_no = w.workspace_no
		WHERE w.workspace_no = #{ workspaceNo } 
		AND type_no = 2;	
	</select>
		
	<resultMap type="Member" id="memberMap">
		<id column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="regdate" property="regdate"/>
		<result column="name" property="name"/>
		<result column="phone" property="phone"/>
		<result column="department" property="department"/>
		<result column="position" property="position" />
		<result column="deleted" property="deleted"/>
		<result column="address_no" property="addressNo"/>
		<result column="roadname_addr" property="roadnameAddr"/>
		<result column="detail_addr" property="detailAddr"/>
		<result column="img" property="img"/>
	</resultMap>
	
	<resultMap type="WorkspaceMember" id="workspaceMemberMap">
		<id column="workspace_no" property="workspaceNo" />
		<result column="email" property="email" />
		<result column="type_no" property="typeNo" />
	</resultMap> 
	
	
	
	<select id="selectWorkspaceByWorkspaceNo" parameterType="int" resultMap="workspaceMap">
		SELECT * FROM workspace
		WHERE workspace_no = #{ workspaceNo } 
	</select>
	
	<select id="selectMemberTypeNo1ByWorkspaceNo" parameterType="int" resultMap="memberMap">
		SELECT * FROM workspace_member wm
		INNER JOIN member m
		ON wm.email = m.email		
		INNER JOIN workspace w
		ON wm.workspace_no = w.workspace_no
		WHERE w.workspace_no = #{ workspaceNo } 
		AND type_no = 1;
	</select>
	
	<select id="WorkspaceMemberNameAndDepartmentSearch" parameterType="com.team.vo.Member" resultMap="memberMap">
		SELECT * FROM workspace_member wm
		INNER JOIN member m
		ON wm.email = m.email		
		INNER JOIN workspace w
		ON wm.workspace_no = w.workspace_no
		WHERE w.workspace_no = #{ position } 
		AND m.name like concat('%',#{name},'%')
		OR m.department like concat('%',#{name},'%')
	</select>
	
	<resultMap type="workspace" id="workspaceMap">
		<id column="workspace_no" property="workspaceNo" />
		<result column="workspace_name" property="workspaceName" />
		<result column="deleted" property="deleted" />
		<result column="code" property="code" />		
	</resultMap> 	
	
	<update id="updateWorkspaceName" parameterType="com.team.vo.Workspace">
		UPDATE workspace
		SET workspace_name = #{ workspaceName } 
		WHERE workspace_no = #{ workspaceNo } 
	</update>
	
	<update id="deleteWorkspace" parameterType="com.team.vo.Workspace">
		UPDATE workspace
		SET deleted = '1'
		WHERE workspace_no = #{ workspaceNo } 
	</update>
	
	<!-- update
		 set type_no = 1
		 where email = user2@example.com
	 -->
	
</mapper>