<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mapper.WorkspaceMapper">
	
	<insert id="insertWorkspace" parameterType="com.team.vo.Workspace"
			useGeneratedKeys="true" keyColumn="workspaceNo" keyProperty="workspaceNo">			
		INSERT INTO workspace (
			deleted,workspace_name, code
		)
		VALUES (
			'0', #{ workspaceName }, #{ code }
		)
	</insert>			
		
	<update id="updateWorkspace" parameterType="com.team.vo.Workspace">
		UPDATE workspace
		SET workspace_name = #{ workspaceName }, code = #{ code }
		WHERE workspace_no = #{ workspaceNo } and workspace_name = '0'
	</update>
	
	<insert id="insertWorkspaceMember" parameterType="com.team.vo.WorkspaceMember">			
		INSERT INTO workspace_member (
			workspace_no, 
			email, type_no
		)
		VALUES (
			#{ workspaceNo }, 
			#{ email }, 1
		)
	</insert>	
		
	<select id="selectWorkspaceMembers" parameterType="int" resultMap="workspaceMemberMap">
		SELECT * FROM workspace_member
		WHERE workspace_no = #{ workspaceNo } 
		AND ( type_no = 1 OR type_no = 2 );
	</select>
	
	<select id="selectCountMemberByWorkspaceMember" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM workspace_member
		WHERE workspace_no = #{ workspaceNo } 
	</select>
	
	<select id="selectMembersByWorkspaceNo" parameterType="com.team.vo.WorkspaceMember" resultMap="memberMap">
		SELECT * FROM workspace_member wm
		INNER JOIN member m
		ON wm.email = m.email		
		INNER JOIN workspace w
		ON wm.workspace_no = w.workspace_no
		WHERE w.workspace_no = #{ workspaceNo } 
		AND wm.type_no = 2	
	</select>
		
	<resultMap type="Member" id="memberMap">
		<id column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="regdate" property="regdate"/>
		<result column="name" property="name"/>
		<result column="phone" property="phone"/>
		<result column="department" property="department"/>
		<result column="position" property="position" />
		<result column="deleted" property="deleted"/>
		<result column="address_no" property="addressNo"/>
		<result column="roadname_addr" property="roadnameAddr"/>
		<result column="detail_addr" property="detailAddr"/>
		<result column="img" property="img"/>
	</resultMap>
	
	<resultMap type="WorkspaceMember" id="workspaceMemberMap">
		<result column="workspace_no" property="workspaceNo" />
		<result column="email" property="email" />
		<result column="type_no" property="typeNo" />
	</resultMap>
	
	<resultMap type="Workspace" id="workspaceMap">
		<id column="workspace_no" property="workspaceNo" />
		<result column="workspace_name" property="workspaceName" />
		<result column="deleted" property="deleted" />
		<result column="code" property="code" />
		<collection property="workspaceMembers" column="workspace_no" resultMap="workspaceMemberMap" />
	</resultMap> 
		
	<select id="selectWorkspaceByWorkspaceNo" parameterType="com.team.vo.WorkspaceMember" resultMap="workspaceMap">
		SELECT * FROM workspace
		WHERE workspace_no = #{ workspaceNo } 
		LIMIT 1;
	</select>
	
	<select id="selectWorkspacesByWorkspaceNo" parameterType="com.team.vo.WorkspaceMember" resultMap="workspaceMap">
		SELECT * FROM workspace
		WHERE workspace_no = #{ workspaceNo } 
	</select>
	
	<select id="selectMemberTypeNo1ByWorkspaceNo" parameterType="com.team.vo.WorkspaceMember" resultMap="memberMap">
		SELECT * FROM workspace_member wm
		INNER JOIN member m
		ON wm.email = m.email		
		INNER JOIN workspace w
		ON wm.workspace_no = w.workspace_no
		WHERE w.workspace_no = #{ workspaceNo } 
		AND wm.type_no = 1	
	</select>
	
	<select id="WorkspaceMemberNameAndDepartmentSearch" parameterType="com.team.vo.Member" resultMap="memberMap">
		SELECT * FROM workspace_member wm
		INNER JOIN member m
		ON wm.email = m.email		
		INNER JOIN workspace w
		ON wm.workspace_no = w.workspace_no
		WHERE w.workspace_no = #{ position } 
		AND m.name like concat('%',#{name},'%')
		OR m.department like concat('%',#{name},'%')
	</select>
	
	<select id="selectMemberAsc1ByWorkspaceNo" parameterType="com.team.vo.Member" resultMap="memberMap">
		SELECT * FROM workspace_member wm
		INNER JOIN member m
		ON wm.email = m.email		
		INNER JOIN workspace w
		ON wm.workspace_no = w.workspace_no
		WHERE w.workspace_no = #{ workspaceNo } 
		ORDER BY m.email asc
	</select>
	
	<select id="selectMemberAsc2ByWorkspaceNo" parameterType="com.team.vo.Member" resultMap="memberMap">
		SELECT * FROM workspace_member wm
		INNER JOIN member m
		ON wm.email = m.email		
		INNER JOIN workspace w
		ON wm.workspace_no = w.workspace_no
		WHERE w.workspace_no = #{ workspaceNo } 
		ORDER BY wm.type_no asc
	</select>
	
	<update id="updateWorkspaceName" parameterType="com.team.vo.Workspace">
		UPDATE workspace
		SET workspace_name = #{ workspaceName } 
		WHERE workspace_no = #{ workspaceNo } 
	</update>
	
	<update id="deleteWorkspace" parameterType="com.team.vo.Workspace">
		UPDATE workspace
		SET deleted = '1'
		WHERE workspace_no = #{ workspaceNo } 
	</update>		
	
	<select id="selectWorkspaceByEmail" parameterType="com.team.vo.WorkspaceMember" resultType="com.team.vo.WorkspaceMember">
		SELECT workspace_no workspaceNo, email, type_no typeNo
		FROM workspace_member
		WHERE email = #{ email } 
		LIMIT 1;
	</select>
	
	
	<select id="selectWorkspaceNameByEmail" parameterType="String" resultType="com.team.vo.Workspace">
		select workspace_name
		from workspace
		where workspace_no = any(
			select workspace_no
			from workspace_member
			where email = #{ email } 
		)
	</select>
	
	<select id="selectWorkspacesByEmail" parameterType="String" resultMap="workspaceMap">
		select w.workspace_no, w.workspace_name, w.deleted, w.code, wm.email, wm.type_no
		from workspace w
		inner join workspace_member wm
		on w.workspace_no = wm.workspace_no
		where wm.email = #{ email }
	</select>
	
	<select id="selectWorkspaceMemberTypeByWorkspaceMember" parameterType="com.team.vo.WorkspaceMember" resultType="com.team.vo.WorkspaceMember">
		select w.workspace_no, w.workspace_name, w.deleted, w.code, wm.email, wm.type_no
		from workspace w
		inner join workspace_member wm
		on w.workspace_no = wm.workspace_no
		where wm.email = #{ email } and wm.workspace_no = #{ workspaceNo } and wm.type_no = 1	
	</select>
	
	<update id="changeLoginuserType" parameterType="com.team.vo.WorkspaceMember">
		UPDATE workspace_member
		SET type_no = '2'
		WHERE workspace_no = #{ workspaceNo } 
		AND email = #{ email }
	</update>
	
	<update id="changeWorkspaceMemberType" parameterType="com.team.vo.WorkspaceMember">
		UPDATE workspace_member
		SET type_no = '1'
		WHERE workspace_no = #{ workspaceNo } 
		AND email = #{ email }
	</update>
	
	<delete id="deleteWorkspaceMemberType" parameterType="com.team.vo.WorkspaceMember">
		DELETE FROM workspace_member
		WHERE workspace_no = #{ workspaceNo } 
		AND email = #{ email }
	</delete>
	
	
	
	
	
	
	
	<select id="selectWorkspaceByManagerEmail" parameterType="String" resultMap="workspaceMap">
		SELECT * FROM workspace w
		INNER JOIN workspace_member m ON w.workspace_no = m.workspace_no
		WHERE m.email = #{email} AND m.type_no = 1 AND w.deleted = 0
	</select>
	
	<update id="updateWorkspaceManager" parameterType="hashmap">
		UPDATE workspace_member
		SET type_no = #{ typeNo } 
		WHERE email = #{ email } AND workspace_no = #{ workspaceNo }
	</update>
	
	
</mapper>